/* Take a css course later, now using the styles as used by the instructor */

.calculator {
  background-color: aliceblue;
  border: 10px solid rgba(10, 139, 175, 0.038);
  border-radius: 5px;
  width: 200px;
}
